.cabecalho{
    background-color: var(--branco);
    display: flex;
    <justify-content: space-between;
    align-itens: center;
    position:relative;
}
 

.cabecalho {
    background-color: rgb(71, 8, 87);
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left side ;
    align-items: left ;
    justify-content: left;
    font-size: 1rem;
    color: rgb(248, 240, 255);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow:10px 10px 5px 0px rgba (red, green, blue, alpha);
}

.cabecalho2 {
   position: relative;
   width:40 ;
   height:40;
   border:20;
   display: flex;
   font-size:16px;
  background-color: aliceblue;
   align-items:center;

}

.principal{ height: 300px;
   background-color: inherit; 
   color: inherit;
   align-items: center;
   text-align: center;
} 



.imagem{
    display: flex;
    align-items:center;
    position: relative; 
}


.Sorveteria{
    height: 100px; 
    text-align: left;
    align-items: center;
 } 

 .rodape{
    height: 100px;
    background-color: 13;
    font-size:20px;
    color: white; padding: 20px; }



.cabecalho {
    background-color: rgb(71, 8, 87);
    width: 100%;
    height: 200;
    display: flex;
    text-align: left side ;
    align-items: left ;
    justify-content: left;
    font-size: 1rem;
    color: rgb(248, 240, 255);
    border-radius: 0px;
    border: 15px solid rgb(71, 8, 87);
    box-shadow:10px 10px 5px 0px rgba (red, green, blue, alpha);
}

.cabecalho2 {
   position: relative;
   width:40 ;
   height:40;
   border:20;
   display: flex;
   font-size:16px;
  background-color: aliceblue;
   align-items:center;

}

.principal{ height: 300px;
   background-color: inherit; 
   color: inherit;
   align-items: center;
   text-align: center;
} 



.imagem{
    display: flex;
    align-items:center;
    position: relative; 
}


.Sorveteria{
    height: 100px; 
    text-align: left;
    align-items: center;
 } 

 .rodape{
    height: 100px;
    background-color: 13;
    font-size:20px;
    color: white; padding: 20px; }




